body {
    margin: 0;
    padding: 0;
}

.highlight {
    color: orangered;
    margin: 0;
    padding: 0;
}

.dark {
    padding: 15px;
    background-color: #35424a;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.main header {
    border-bottom: #e8491d 3px solid;
}

header .navbar {
    padding: 20px;
}

#logocolor {
    color: coral;
}

header a:hover {
    color: #aaaaaa;
    font-weight: bold;
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 20px;
}

.container {
    margin-top: 40px;
}

#html img {
    width: 250px;
}

#css img {
    width: 170px;
}

@media (max-width: 768px) {
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }
}

#showcase {
    min-height: 400px;
    background: url("img/컴퓨터_프로그래밍_언어.jpg");
    text-align: center;
    color: white;
}

#showcase h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

/* Boxes */

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    color: white;
    background-color: #35424a;
}

/* 팀프로젝트 스타일시트 */

.team-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 15px;
}
.team-container > div {
    background-color: #f1f1f1;
    margin: 15px;
    text-align: center;
    font-size: 30px;
}

p {
    font-size: 20px;
}

/* about.html 스타일시트*/

.about_container {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    padding-top: 20px;
    text-align: center;
}

#about {
    border-bottom: deepskyblue 3px solid;
}

.about-content {
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: deepskyblue 3px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    border: 10px;
    padding: 8px;
    text-align: left;
    margin: 5px;
}

th {
    background-color: #f2f2f2;
}

/* Main-col */
article#main-col {
    float: left;
    width: 65%;
}

/* Service */
ul#service li {
    list-style: none;
    padding: 20px;
    border: #ccccccd6 solid 2px;
    background-color: #e6e6e6;
    margin-bottom: 5px;
}

#porais {
    width: 400px;
}

#AI {
    width: 600px;
}
