* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    line-height: 2;
    color: rgb(141, 21, 165);
    background-color: white;
}

.Logo {
    font-size: x-large;
}

ul {
    list-style-type: none;
}

.dark-mode {
    background-color: gray;
    color: rgb(24, 21, 21);
}

.mainmenu {
    background-color: black;
    height: 60px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.mainmenu .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 30px;
}

.mainmenu ul {
    display: flex;
    flex-direction: row;
}

.mainmenu ul li {
    margin-left: 20px;
}

.main .container button {
    padding: 2px 6px;
    margin: 2px 4px;
    font-size: larger;
    font-weight: bolder;
    background-color: aquamarine;
    border-radius: 5px;
    border-width: 1px;
}

.main .container button:hover {
    color: red;
    background-color: darkgoldenrod;
}
